   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
/*
button {   
       background-color: #4CAF50;   
       width: 100%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }*/   
 .form-style {   
        border: 3px solid #f1f1f1;   
    }   
 .input-style {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 /*button:hover {   
        opacity: 0.7;   
    }*/   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
       padding: 25px;   
        background-color: #073642;  
    }   
</style>   
</head>    
<body>    
    <center> <h1> Admin Login </h1> </center>   
    <form class="form-style">  
        <div class="container">   
            <label>Username : </label>   
            <input class="input-style" type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input class="input-style" type="password" placeholder="Enter Password" name="password" required>  
            <button class="btn btn-primary" type="submit">Login</button>   
              
        </div>   
    </form>     
</body>     
